header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #0e4da4;
}

.headerContainer {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 56px;
  display: flex;
  align-items: center;
}

.headerTitle {
  margin: 0;
}

.headerTitle a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    max-width: 900px;
  }
}
