.SearchResultsContainer ul,
.error-handlig ul {
  list-style-type: none;
  padding-left: 0;
}

.SearchResultsContainer li {
  letter-spacing: 0.5px;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
