.container {
  font-size: 0.875rem;
  letter-spacing: 0.5px;
}

.title {
  text-align: center;
  margin-bottom: 8px;
}

.container tbody {
  vertical-align: middle;
}

.container td {
  padding: 0.2rem 0.1rem;
  font-weight: 200;
  text-transform: lowercase;
}

.container td:first-child {
  font-weight: 400;
  text-transform: capitalize;
}
