.UVmaxcontainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.UVmaxcontainer div {
  margin-left: 0.5rem;
}

.UVmaxcontainer div span {
  font-size: 0.8rem;
  font-weight: 200;
}
