p {
  padding-top: 1.5rem;
  font-size: 1.05rem;
}

.SurfCheck {
  display: block;
  padding: 1.5rem 2rem 3rem;
  width: 100%;
}

.SurfCheckCont {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .SurfCheckCont {
    display: block;
    width: 100%;
  }
}
