p {
  padding-top: 1.5rem;
  font-size: 1.05rem;
}

.SurfCheck {
  display: block;
  padding: 1.5rem 2rem 3rem;
  width: 100%;
}

.SurfCheckModule {
  margin: 1.5rem 0;
  width: 100%;
  background-color: #fff;
}

.SurfCheckWrapper {
  display: flex;
  padding: 1rem;
}

.SurfCheckCont {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .SurfCheckCont {
    display: block;
    width: 100%;
  }
}
